<section>
    <div class="container">
        <div class="container">
            <div class="row mt-3">
                <a href="/admin/add-product" class="btn btn-primary ml-auto">Add Product</a>
            </div>
        </div>
        <table class="table table-responsive-sm mt-3">
            <thead class="bg-primary text-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td><img src="{{this.image}}" alt="" class="img-fluid img-thumbnail table-img">
                        <h6>{{this.name}}</h6>
                    </td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td>Rs.{{this.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>