<section>
    <div class="container mt-5 mb-5">
        <h1>Edit Slide</h1>
        <form action="/admin/edit-slide/{{slide._id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" value="{{slide.class}}" hidden readonly  name="class" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" value="{{slide.name}}" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" value="{{slide.description}}" name="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="text" value="{{slide.price}}" name="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <br>
                <img src="/images/slide-images/{{slide._id}}.jpg" alt="" class="img-fluid" id="my-file-selector-image" style="width: 50%;">
                <br><br>
                <label class="btn btn-light border border-secondary" for="my-file-selector">
                    <input id="my-file-selector" type="file" name="image" style="display:none"
                        onchange="$('#upload-file-info').show().html(this.files[0].name)">
                    Choose Image
                </label>
                <span class='bg-light text-dark rounded-pill ml-2 p-2 pl-4 pr-4' id="upload-file-info"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>