<section>
    <div class="container mt-3">
        <table class="table table-responsive-sm mt-3">
            <thead class="bg-primary text-light">
                <tr>
                    <th scope="col" hidden>ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {{#each carouselItems}}
            <form action="/admin/update-slide" method="POST" enctype="multipart/form-data">
                <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" value="{{this._id}}" readonly name="_id" class="form-control">
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" value="{{this.name}}" name="name" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <img src="/images/slide-images/{{this._id}}.jpg" alt=""
                                    class="img-fluid img-thumbnail table-img">
                                <label class="btn btn-sm btn-light border border-secondary" for="my-file-selector{{this._id}}">
                                    <input id="my-file-selector{{this._id}}" type="file" name="image" style="display:none"
                                        onchange="$('#upload-file-info{{this._id}}').show().html(this.files[0].name)">
                                    Select Image
                                </label>
                                <span class='upload-file-info bg-light text-dark rounded-pill ml-2 p-2 pl-4 pr-4'
                                    id="upload-file-info{{this._id}}"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" value="{{this.description}}" name="description" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" value="{{this.price}}" name="price" class="form-control">
                            </div>
                        </td>
                        <td class="pr-0">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </td>
                    </tr>
                </tbody>
            </form>
            {{/each}}
        </table>
    </div>
</section>