<section>
    <div class="container my-5">
        <table class="table table-responsive-sm table-hover mt-3" id="data-table">
            <thead class="bg-primary text-light">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {{#each users}}
                <tr>
                    <td scope="row" class="align-middle">
                        {{#if this.profilePicture}}
                        <img src="/images/users/profile-pictures/{{this._id}}.jpg" alt="" id="viewImage"
                            class="img-fluid img-thumbnail rounded-circle" style="width: 4rem; height: 4rem; object-fit: cover;">
                        {{else}}
                        <img src="/images/profile-pic-male.svg" alt="" id="viewImage"
                            class="img-fluid img-thumbnail rounded-circle" style="width: 4rem; height: 4rem; object-fit: cover;">
                        {{/if}}
                    </td>
                    <td class="align-middle">{{this.name}}</td>
                    <td class="align-middle">{{this.email}}</td>
                    <td class="align-middle">{{this.mobile}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>