<section>
    <div class="container my-5">
        <table class="table table-responsive-sm table-hover mt-3" id="data-table">
            <thead class="bg-primary text-light">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-truncate">Total Amount</th>
                    <th scope="col" class="text-truncate">Payment</th>
                    <th scope="col">Delivery Details</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {{#each orders}}
                <tr>
                    <td class="align-middle">
                        <p class="text-truncate">Total {{this.productCount}} product</p>
                        <img src="/images/product-images/{{this.productDetails.0._id}}.jpg" alt=""
                            class="img-fluid img-thumbnail table-img">
                        <h6>{{this.productDetails.0.name}}</h6>
                    </td>
                    <td class="align-middle">Rs.{{this.totalAmount}}</td>
                    <td class="align-middle">{{this.paymentMethod}}</td>
                    <td class="align-middle">
                        <h6>Order ID: <span class="font-weight-normal">{{this._id}}</span></h6>
                        <h6>{{this.deliveryAddress.name}}</h6>
                        <p>{{this.deliveryAddress.address}}, {{this.deliveryAddress.locality}},
                            {{this.deliveryAddress.landmark}},
                            {{this.deliveryAddress.city}}, {{this.deliveryAddress.state}} -
                            {{this.deliveryAddress.pincode}}, Mob. <span>{{this.deliveryAddress.mobile}},
                                {{this.deliveryAddress.altPhone}}</span></p>
                    </td>
                    <td class="align-middle text-truncate" id="order-status-{{this._id}}">
                        Order
                        {{#if this.status.placed}}Placed{{/if}}{{#if this.status.pending}}Pending{{/if}}{{#if this.status.shipped}}Shipped{{/if}}{{#if this.status.delivered}}Delivered{{/if}}{{#if this.status.canceled}}Canceled{{/if}}
                    </td>
                    <td class="align-middle text-center" style="width: 15%;">
                        <a href="" class="btn btn-primary btn-sm my-1" style="width: 100%;">View Order</a>
                        {{#if this.status.delivered}}
                        <a href="" class="btn btn-danger btn-sm my-1" style="width: 100%;">Remove Order</a>
                        {{else}}
                        {{#if this.status.canceled}}
                        <a href="" class="btn btn-danger btn-sm my-1" style="width: 100%;">Remove Order</a>
                        {{else}}
                        {{#if this.status.placed}}
                        <a href="" class="btn btn-primary btn-sm my-1" style="width: 100%;"
                            onclick="shipOrder(event, '{{this._id}}');" id="ship-button-{{this._id}}">Ship
                            Order</a>
                        {{/if}}
                        {{#if this.status.shipped}}
                        <a href="" class="btn btn-primary btn-sm my-1" style="width: 100%;"
                            onclick="orderDelivered(event, '{{this._id}}');" id="delivered-button-{{this._id}}">Order
                            Delivered</a>
                        {{/if}}
                        <a href="" class="btn btn-danger btn-sm my-1" style="width: 100%;" id="cancel-button-{{this._id}}">Cancel Order</a>
                        {{/if}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>