<section>
    <div class="container mt-5 mb-5 small">
        {{#if orders}}
        {{#each orders}}
        <a href="/view-order/{{this._id}}" class="text-decoration-none text-dark">
            <div class="card card-animated-sm mb-3" style="width: 18rem;">
                <div class="card-header bg-white border-0 p-0">
                    <p class="text-center m-0 mt-2">{{this.date}}</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="/images/product-images/{{this.productDetails.0._id}}.jpg" alt=""
                                        class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <h5>{{this.productDetails.0.name}}</h5>
                                    <h6>{{this.productDetails.0.category}}</h6>
                                    <p>{{this.productDetails.0.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 border-right">
                            <h5><span style="font-family: Roboto,Arial,sans-serif;">₹</span>{{this.totalAmount}}</h5>
                            <p>Payment: <span class="font-weight-bold">{{this.paymentMethod}}</span></p>
                        </div>
                        <div class="col-md-6">
                            <h5>Delivery Address</h5>
                            <h6>{{this.deliveryAddress.name}}</h6>
                            <p>{{this.deliveryAddress.address}}, {{this.deliveryAddress.locality}},
                                {{this.deliveryAddress.landmark}},
                                {{this.deliveryAddress.city}}, {{this.deliveryAddress.state}} -
                                {{this.deliveryAddress.pincode}}</p>
                            <p>Mob. <span>{{this.deliveryAddress.mobile}}, {{this.deliveryAddress.altPhone}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
        {{else}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="text-center empty-cart">
                    <img src="images/empty-cart.webp" class="img-fluid" style="width: 15rem;">
                    <h5 class="font-weight-normal">No orders available</h5>
                    <p class="small">Order now.</p>
                    <a href="/" class="btn btn-primary pr-5 pl-5">Shop now</a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>