<div>
    {{>user-carousel}}
</div>
<section>
    <div class="container mt-3">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 col-6">
                <div class="card mb-5" style="width: 18rem;">
                    <img src="/images/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body product-card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                    <div class="card-header bg-light text-center">
                        <h5>From ₹{{this.price}}</h5>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-primary rounded-pill">Add to Cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>